* {
  box-sizing: border-box;
  background-color: rgba(58, 56, 56, 0.836);
  color: wheat;
}

header {
  margin: auto;
  background-color: aqua;
  color: black;
  font-size: larger;
  border-radius: 5px;
  text-align: center;
}

.generator {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  align-self: center;
  text-align: center;
  border-radius: 5px;
  border: 5px solid #d8d6d6;
  padding: 10px;
  align-items: center;
  margin: 10px;
}
.reader {
  background-color: #fff;
  width: 600px;
}
#QR {
  margin: 10px 10px 10px 50px;
}
input {
  margin: 10px 10px 10px 0px;
}
footer {
  margin: auto;
  background-color: rgb(253, 253, 253);
  color: black;
  text-align: center;
}

.button {
  position: relative;
  width: 160px;
  height: 60px;
  font-size: 16px;
  font-weight: bold;
  border-radius: 4px;
  overflow: hidden;
  color: rgb(187, 186, 186);
  border: 1px solid #000;
  transition: all 0.2s ease-in;
  cursor: pointer;
  z-index: 1;
}
.button::before {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  width: 140%;
  height: 180%;
  border-radius: 50%;
  background-color: rgba(250, 142, 142, 0.678);
  transform: translateX(-50%) scaleY(1) scaleX(1.25);
  transition: all 0.5s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
  z-index: -1;
}
.button::after {
  content: "";
  position: absolute;
  top: 180%;
  left: 55%;
  width: 160%;
  height: 190%;
  border-radius: 50%;
  background-color: #5f03f4;
  transform: translateX(-50%) scaleY(1) scaleX(1.45);
  transition: all 0.5s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
  z-index: -1;
}
.button:hover {
  color: #fff;
  border: 1px solid #5f03f4;
}
.button:hover::before {
  top: -35%;
  background-color: #5f03f4;
  transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
}
.button:hover::after {
  top: -45%;
  background-color: #5f03f4;
  transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
}
